/* 页面整体 */

body{
    margin: 0 auto;
    max-width: 600px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

/* 页脚 */
footer{
    columns: #888888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.img{
    width: 100px;
    height: 100px;
}

/* 电影列表 */
.movie-list{
    list-style-type:none;
    padding: 0;
    margin-bottom: 15px;
    /* 左偏移，右偏移， */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,16);
}
.movie-list li{
    padding: 12px 24px;
    border-bottom: 1px solid #dddddd;
}
.movie-list li:hover{
    background-color: #f9f8fa;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.float-right{
    float:right;
}

.baidu{
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background:#F5c518;
    border-radius: 5px;
    padding: 3px 5px;
}

